<div #que>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>¿De que se trata esta Web?</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/imagenes/utn.png" alt="yo" ALIGN="left">
      <mat-card-content>
            <p>Esta Sala de Juegos es un trabajo practico necesario para aprobar la cursada correspondiente
              a la cursada de Laboratorio 4. </p>
          <p>
            Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias
            didácticas y formas de evaluación diferentes.
          </p>
          <p>
            A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar
            un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales
            tanto para las instituciones y profesores como para los alumnos.
          </p>
          <p>
            A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo
            se
            está produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos.
          </p>
          <p>
            Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y
            darle visibilidad a la comprensión del tema.
          </p>
          <p>
            Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la
            hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación.
          </p>
      </mat-card-content>
      <mat-list-item>
        <a href="assets/docs/tp.pdf" download>
          <button mat-button>Descargar PDF <mat-icon>save_alt</mat-icon></button>
        </a>
        <a href="assets/docs/tp.pdf" target="blank">
          <button mat-button>Ver PDF<mat-icon>picture_as_pdf</mat-icon></button>
        </a>
      </mat-list-item>
    </mat-card>
  </div>
