<div class="container">
    <div class="textContainer">
        <h3>Perdiste tu password?</h3>
        <h4>No te preocumes, te enviaremos un correo de recuperacion.</h4>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Direccion de Email</mat-label>
            <input class="input" matInput type="email" #passwordResetEmail required>
        </mat-form-field>
    </div>
    <div>
        <button class="button" type="submit" mat-raised-button color="primary"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">Enviar</button>
            <a routerLink="/sign-in">Ir al login</a>
    </div>
</div>