<div #donde>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Colur Picker</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/imagenes/colourPicker.png" alt="yo" ALIGN="left">
        <mat-card-content>
            <h4>
                Este Juego esta realizado con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.
            </h4>
            <h4>
                Colour Picker es un juego en el que se ponen a prueba tus conocimientos. Elige con cuidado, gana en la menor cantidad de intentos y compite con tus amigos.
            </h4>
        </mat-card-content>
    </mat-card>
</div>