<div #donde>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Mi juego</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="" alt="yo" ALIGN="left">
        <mat-card-content>
            <p>
                Este Juego esta realizado con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus doloribus ipsam, voluptatem porro
                mollitia, voluptates in blanditiis repellat obcaecati quidem error modi eaque veritatis reiciendis!
                Animi ex iste quod.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident maiores doloribus recusandae debitis
                pariatur, tenetur est quis voluptatem nemo, ducimus delectus, aut placeat libero ut fuga. Pariatur
                molestiae quibusdam facilis.
            </p>
        </mat-card-content>
    </mat-card>
</div>