.example-card {
    max-width: 300px;
    margin: 2%;
    display: inline-table;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .title {
    text-align: center;
  }

  .contentText {
    text-align: center;
  }

  .button{
    width: 100%;                                                                                 
  }
      