.mat-table{
    width: 100%;
}
.mat-column-date{
    width: 15%;
}
.mat-column-from{
    width: 20%;
}
.mat-column-message{
    width: 55%;
}
.mat-column-actions{
    width: 10%;
}
.sendWrapper{
    padding: 1%;
}