<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <h3>¿Qui&eacute;n soy?</h3>
            </mat-card-title>
          </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/yo.jpg" alt="yo" ALIGN="left">
        <mat-card-content>
            <p> Mi nombre es Agustin Cantero, soy un estudiante de la tecnicatura en programacion de la
                Utn
                Facultad Regional de Avellaneda. </p>
            <p> Soy oriundo de Bahia Blanca Provincia de Buenos Aires, naci el 21 de febrero de 1986.
            </p>
            <p> Me considero una persona responsable, respetuosa, con ganas de aprender, crecer y
                desarrollarme.
            </p>
            <p> Mis objetivos a corto plazo son recibirme para poder seguir creciendo profesionalmente y
                alcanzar mis metas.</p>
        </mat-card-content>
    </mat-card>
</div>