.fill-remaining-space {
    flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
    mat-toolbar{
        flex-direction: column;
        height: fit-content;
    }
    .fill-remaining-space {
        width: 100%;
        text-size-adjust: auto;
    }
}