<div class="container mt-5">

    <div class="row" *ngIf="authService.userState as user">
        <div class="media">
            <div class="media-body">
                <div class="title">
                    <h2>Hola: {{user.email }}, A que te gustaria jugar?</h2>
                </div>
                <app-game-card [title]="titleTateti" [contentText]="contentTextTateti" [imgPath]="imgPathTateti"
                    [redirectPath]="redirectPathTateti">
                </app-game-card>
                <app-game-card [title]="titlePpt" [contentText]="contentTextPpt" [imgPath]="imgPathPpt"
                    [redirectPath]="redirectPathPpt"></app-game-card>
            </div>
        </div>
    </div>
</div>