<ng-template #newMsg>
    <button mat-raised-button color="primary" (click)="showSend()">Nuevo mensaje</button>
</ng-template>
<div class="sendWrapper">
    
    <app-send *ngIf="canSend; else newMsg" (msgSent)="handleMsgSent()"></app-send>
</div>
<table mat-table [dataSource]="this.messages" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> Para </th>
        <td mat-cell *matCellDef="let element"> {{element.to}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Mensaje </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

