.login-card {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5%;
  }

.login-header-image {
    display:block;
    margin:auto;
    padding-bottom: 5%;
    width: 70px;
    height: 70px;
}

.welcome-text{
    text-align: center;
    text-shadow: 10em;
    
}

.mat-form-field{
    width: 100%;
}

.login-button{
    width: 100%;
}

.google-signin-button{
    width: 100%;
    font-family: 'roboto-medium';
    font-size: 14px;
    font-weight: bold;
    background-color: #4285F4;
    color: #FFFFFF;
    padding-left: 0;
    mat-icon{
        margin: 1px;
        height: 36px;
        width: 40px;
        float: left;
        background-color: #FFFFFF ;
    }
}

.forgotPassword{
    text-align: center;
}

.redirectToLogin{
    text-align: center;
}

.footer{
    background-color: gainsboro;
}