.login-card {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5%;
  }

.login-header-image {
    display:block;
    margin:auto;
    padding-bottom: 5%;
    width: 70px;
    height: 70px;
}

.welcome-text{
    text-align: center;
    text-shadow: 10em;
    
}

.mat-form-field{
    width: 100%;
}

.login-button{
    width: 100%;
}

.login-with-google-button{
    width: 100%;
}